$brand_yellow: #FEBE16;
$error: #ef022d;
$blue: #0216ef;
$purple: #8402ef;

$border: #2a3149;
$bg: #292a30;
$active1: #2d5fca;
$active2: #5797b9;
$muted: #5b5d62;
$white: #ffffff;
$text: #c9cfd7;
$accent1: #2d5fca;
$accent2: #5797b9;
