.exchanger__content--title {
  div {
    flex-wrap: nowrap;
  }
}
.exchanger__promocode {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile-all {
    gap: 6px;
  }
  &-economy {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background: rgba(183, 255, 170, 0.28);
    @include mobile-all {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
.exchanger__buttons {
  &__promocode {
    margin-top: calc((40px - 27px)/2);
    @include mobile-all {
      margin-top: calc((38px - 27px)/2);
    }
  }
}
.exchanger__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include mobile-all {
    gap: 6px;
  }
 &__count {
   :deep(.slots) {
     margin-top: 8px;
     @include mobile-all {
       margin-top: 4px;
     }
   }
 }

  &__promocode-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    @include mobile-all {
      gap: 6px;
    }
  }
  &__promocode {
    width: calc(50% - 5px);
  }

  &__address {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    @include mobile-all {
      gap: 6px;
    }

    &__address-input {
      width: 100%;
    }
    &__memo {
      max-width: 30%;
    }
    &__slot {
      font-size: 13px;
      margin-top: -15px;
      @include mobile-all {
        font-size: 11px;
        margin-top: -12px;
      }
    }

    .--slot-error {
      color: rgba(225, 0, 0, 0.76)
    }
    .--slot-success {
      color: rgba(0, 122, 2, 0.76)
    }
  }
}
.exchanger__right__content-back {
  top: 47px;
  left: 20px;
  @include mobile-all {
    top: 32px;
    left: 15px;
  }
}
.exchanger__right__content-wrapper {
  padding: 0 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  @include mobile-all {
    padding: 0 16px;
  }
}

.exchanger__right {
  &__banner {
    width: fit-content;
    margin-top: 20px;
    &_img {
      border-radius: 10px;
      width: 100%
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &--header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 40px;
      @include mobile-all {
        gap: 10px;
        margin-bottom: 24px;
      }
    }
  }
}

.tip {
  font-size: 11px;
  color: gray;
  @include mobile-all {
    font-size: 10px;
  }
}
